.tournament-clubs {
  margin-top: 20px !important;

  .list-club {
    .header-container {
      margin-bottom: 15px;
      padding: 10px 5px;
      border: 1px solid #e0e0e0;
      background-color: #f1f1f1;
      border-radius: 5px;

      .text-capitalize {
        border: 1px solid #e1bc94;
        padding: 3px 10px;
        background-color: #ffce99;
        border-radius: 3px;
        margin-top: 3px;
      }
    }

    .club-container {
      text-align: center;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 3px solid #dce4ec;
      position: relative;

      .avatar-club {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 115px;
        height: 115px;
        overflow: hidden;
        border: 1px solid #808080;
        border-radius: 5px;

        .index {
          border-color: #ccc;
          -o-border-image: none;
          border-radius: 3px 0 5px 0;
          border-style: none solid solid none;
          border-width: medium 1px 1px medium;
          top: 1px;
          left: 1px;
          font-size: 10px;
          line-height: 12px;
          position: absolute;
          text-align: center;
          width: 11px;
          background: hsla(0, 0%, 100%, .5);
          color: #c30029;
        }
      }

      a {
        color: #3bbf1a;
      }

      .info-container {
        .form-control {
          font-size: 14px;
        }

      }
    }
  }
}