.create-tournament {
    padding: 100px 0;

    .card-header {
        background-color: #28a745;
        color: #fff;
        font-weight: bold;
        text-align: left;
    }

    .card-body {
        .frame-register {
            border-bottom: 5px solid #f1f1f1;
            margin-bottom: 20px;

            .form-competition {
                color: #fff;
                background-color: #65749e;
                border-color: #3b4784;
                border-radius: 5px;
                padding: 10px;
                text-align: center;
            }

            .alert-suggestion {
                background-color: #d9edf7;
                border-color: #d9edf7;
                color: #31708f;
            }

            .alert-tournament{
                display: none;
            }

            .custom-file-label::after {
                content: "Chọn ảnh";
            }
        }

        .content-form-competition-2, .content-form-competition-3 {
            display: none;
        }

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #28a745;
            text-align: center;
            position: relative;
            padding: 20px;
            height: 180px;

            label {
                cursor: pointer;
                margin-bottom: 20px;
            }
        }
    }
}
