.group-stage-tournament {
  margin-bottom: 30px;

  .list-tab-group-stage {
    margin-top: 50px;

    .nav {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: #3bbf1a !important;
      }
    }

    .nav-tabs .nav-link:hover {
      border: 1px solid #3bbf1a !important;
    }

    .nav-tabs .nav-link.active {
      background: #3bbf1a !important;
      color: #fff !important;
    }
  }

  .section-match {
    margin-top: 30px;
    .match-box {
      .stage-header {
        .box-header-first {
          margin: 0;
          padding: 15px;
          background-color: #c7c7c7;
          text-align: center;
          font-weight: bold;
        }

        .box-header-second {
          margin: 0;
          padding: 5px;
          background-color: #f3f3f3;
        }
      }
    }
  }

  .item-group {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #9b9b9b;
    color: #ecf0f1;
    text-align: center;
    text-transform: uppercase;
    line-height: 14px;
    font-size: 12px;
  }

  .round-tab {
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
    padding: 12px;
    margin-right: 30px;
    border: 1px solid !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}