.schedule-tournament {
  margin-top: 20px !important;

  .dash  {
    height: 1px;
    background: #6c6c6c;
  }

  .list-match-table {
    border: 1px dashed #d0d1d1;
    border-radius: 10px;
    padding: 0 5px 5px;

    .match-list {
      padding: 10px;

      .match-item--teams {
        display: inline-block;
        padding: 5px 0;
        width: 100%;
      }

      .match-item--index {
        font-weight: 400;
        font-size: 10px;
        color: #9b9b9b;
        line-height: 24px;
        float: left;
      }

      .match-item .col-xs-8.no-pad {
        width: calc(100% - 23px);
      }
    }
  }

  .round-button-margin {
    display: inline-flex;
  }

  .scrollable-box-hidden {
    overflow: hidden;
    padding-left: 10px;
  }

  .scrollable-box-for-round {
    position: relative;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0 0 2px;
  }

  .list-item.is-active {
    background-color: #3bbf1a;
    line-height: 37px;
  }

  .list-item--circle {
    -webkit-box-shadow: 0 1px 2px #d8d8d8;
    box-shadow: 0 1px 2px #d8d8d8;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50%;
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    line-height: 37px;
  }

  .list-item.is-active a {
    color: #fff;
  }

  .scrollable-box-for-round {
    li {
      a {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        color: #3bbf1a;
      }
    }

    .nav-tabs {
      border-bottom: 0 !important;
    }

    .nav-tabs .nav-link:hover {
      border: 1px solid #3bbf1a !important;
    }

    .nav-tabs .nav-link.active {
      background: #3bbf1a !important;
      color: #fff;
    }
  }

  .list-tab-match {
    .nav-tabs {
      border-bottom: 2px solid #ecf0f1;
    }

    .nav-tabs .nav-link:hover {
      border: 1px solid #3bbf1a !important;
    }

    .nav-tabs .nav-link.active {
      background: #3bbf1a !important;
      color: #fff;
    }
  }

  .list-item--circle a {
    padding: 2px 1px 0 0;
  }


  .content-tab-panner {
    .round-info {
      background: #fff;
      border: 1px dashed #dce4ec;
      margin: 5px 0 0;
      border-radius: 4px;
      position: relative;
      padding: 5px;

      .name-league {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        text-transform: capitalize;
        padding-left: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
      }

      .match {
        display: flex;
        align-items: center;
        justify-content: center;

        .stt {
          font-size: 10px;
          float: left;
          margin-top: 5px;
          clear: both;
        }

        .intro-match {
          text-align: center;
          margin: 5px 0;
          width: 93%;
          display: inline-block;

          div {
            display: inline-block;
          }

          .competitor-container {
            width: 46%;
          }
        }
      }
    }
  }
}