.search-tournament {
    padding: 100px 0;

    .input-group-btn {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        font-size: 0;
        white-space: nowrap;

        .btn-primary {
            background-color: #3bbf1a;
            border-color: #3bbf1a;
        }
    }

    .input-group-btn:last-child>.btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        z-index: 2;
        margin-left: -1px;
    }

    .input-group-btn>.btn {
        position: relative;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .result-search-tournament {

        .tournament {
            border: 1px solid #3bbf1a;
            box-shadow:  2px 2px 2px 0 #3bbf1a;

            .image-tournament {
                position: relative;

                .status {
                    position: absolute;
                    top: 5%;
                    left: 2%;
                    color: #000;
                    font-size: 12px;
                    font-weight: bold;
                    border: 1px solid #3bbf1a;
                    background-color: #79c753;
                    border-radius: 5px;
                    padding: 5px;
                }
            }

            .summary-tournament {
                padding: 20px;
                text-align: center;
                margin-top: -4rem;

                .avatar-tournament {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto 5px;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-align: center;

                        img {
                            border-radius: 5px;
                            border: 1px solid #d2d2d2;
                            box-shadow: 2px 2px 5px 0 #6f6f6f;
                            background: #fff;
                            height: 80px;
                            display: block;
                            white-space: normal;
                        }
                    }
                }
            }
        }

    }
}

@media (min-width: 768px){
    .btn {
        padding: 5px 15px;
    }
}

