.setting-status-tournament {
  margin-top: 20px !important;

  .status-tournament {
    padding: 20px 0;
    display: flow-root;
    width: calc(100% - 200px);
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding-bottom: 5px;

    .label {
      border-radius: 10px;
      padding: 5px;
      text-align: center;
      background: #676ec1;
      color: #fff;
    }

    .big-text {
      font-size: 24px;
      font-weight: bold;
    }
  }
}