.sort-league {
  margin-top: 20px !important;

  .dash {
    height: 2px;
    background: #808080;
    margin: 20px 0;
  }

  .list-league {

    .title {
      .name {
        font-size: 20px;
        font-weight: bold;
      }
    }


    .content {
      border-radius: 4px;
      border: 1px solid #dce4ec;
      padding: 10px;
      margin: 15px 0;
      .sortable {
        position: relative;
        margin: 5px 0 0;
        padding: 0 30px 0 5px;
        background: #fff;
        border: 1px dashed #dce4ec;
        line-height: 36px;
        border-radius: 4px;

        .summary-text {
          text-decoration: none;
          display: inline-block;
          line-height: normal;
          padding: 10px 0;
        }

        .move-competitor {
          line-height: 36px;
          padding: 0 5px;
          color: #1c7430;
          position: absolute;
          right: 0;
        }

        .delete-team {
          float: right;
          padding: 0 5px;
          position: absolute;
          right: 30px;
          color: #3bbf1a;
        }

      }
    }
  }
}