.main-login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    label {
        color: #fff;
        font-weight: bold;
    }

    .form-control {
        border: 1px solid #28a745;
    }

    .form-login {
        padding: 15px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
}
