.achievement-statistics {
  .index-statistics {
    .title {
      width: 100%;
      border-radius: 4px 4px 0 0;
      background: #135f00;
      position: relative;
      min-height: 40px;
      color: #fff;
      font-size: 24px;
      padding: 5px;
    }

    .content {
      border: 1px solid #ccd1d9;
      background: #deead7;
      padding: 15px;
      .index {
        .solution {
          color: #676ec1;
          height: 33px;
          width: 100%;
          float: left;
          text-align: center;
          font-weight: bold;
          margin-bottom: 15px;
          line-height: 20px;
        }

        .number {
          width: 100%;
          float: left;
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          color: #676ec1;
          height: 33px;
        }

        .text {
          width: 100%;
          float: left;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          color: #00A65A;
          height: 33px;
        }
      }
    }
  }
}