.management-club {
    margin-top: 100px;
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    position: relative;
    min-height: 600px;
    padding: 15px;
    margin-bottom: 20px;

    .image-club {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .avatar-club {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: 1px solid #dce4ec;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .list-info-other {
        .item {
            padding: 5px;
            border-bottom: 1px solid #dce4ec;
        }

        .item-final {
            padding: 5px;
        }
    }

}

.sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    z-index: 1039;
}

.layout-sidenav-nav {
    //position: fixed;
    width: 225px;
    float: left;
    z-index: 1038;

    .sb-sidenav {
        margin-right: 25px;
        .sb-sidenav-menu {
            overflow-y: auto;
            background-color: #F5F5F5;
        }
    }
}

.navbar-dark {
    .navbar-brand {
        color: #fff;
        text-align: center;
        font-size: 17px;
    }

    .navbar-header {
        position: fixed;
        right: 15px;
    }
}

.sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    max-height: 450px;
    overflow: auto;

    .sb-sidenav-menu {
        flex-grow: 1;

        .nav {
            flex-direction: column;
            flex-wrap: nowrap;

            .sb-sidenav-menu-heading {
                padding: 1.75rem 1rem 0.75rem;
                font-size: 0.75rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            .nav-link {
                font-size: 14px;
                color: $color_white;
                font-weight: bold;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                position: relative;

                .sb-nav-link-icon {
                    font-size: 0.9rem;
                }

                .sb-sidenav-collapse-arrow {
                    display: inline-block;
                    margin-left: auto;
                    transition: transform 0.15s ease;
                }

                &.collapsed {
                    .sb-sidenav-collapse-arrow {
                        color: $color_white;
                        font-weight: bold;
                        transform: rotate(-90deg);
                    }
                }
            }

            .active {
                background-color: #fff;
                color: #596377;
            }

            .sb-sidenav-menu-nested {
                flex-direction: column;
            }

            .nav-link {
                background: #596377;
                color: #fff;
            }

        }
    }
}
