.detail-member {
  border: 1px solid #177300;
  padding: 10px;

  .role {
    padding: 5px;
    color: #fff;
    background-color: #177300;
    font-weight: bold;
    text-align: center;
    transform: skewY(5deg);
  }

  .avatar-member {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid #aab6b6;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 50%;
    }
  }

  .competitor-member-stats {
    position: static;
    text-align: center;

    li {
      display: inline-block;
    }

    .card {
      display: inline-block;
      width: 12px;
      height: 16px;
      margin: 0 5px;
      border-radius: 2px;
      position: relative;
      top: 2px;
    }

    .card--red {
      background-color: #dd4132;
    }

    .card--yellow {
      background-color: #e0d900;
    }
  }

  .member-name {
    margin-top: 10px;
    text-align: center;
  }

  .group-btn {
    text-align: center;
    margin-top: 10px;
  }
}

.editProfileMember {
  .avatar-position {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid #aab6b6;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 50%;
    }
  }

  .avatar-card {
    width: 100%;
    height: 120px;
    overflow: hidden;
    text-align: center;
  }
}