.management-all {
    margin-top: 100px;

    .info-user {
        padding: 20px;
        background: rgba(0,0,0,.75);

        .avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 1px solid #3bbf1a;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .email-user, .phone-number-user,.time-activity {
            color: #fff;
        }
    }

    .list-tab-management {
        .nav-tabs .nav-link.active {
            background: rgba(0,0,0,.75);
            color: #fff;
        }

        .nav-tabs {
           border-bottom: 1px solid rgba(0,0,0,.75);

            .nav-link:hover {
                border: 1px solid rgba(0,0,0,.75);
            }
        }
    }

    .list-club {
        .result-search-club {
            .club {
                text-align: center;
                border: 1px solid #696969;
                box-shadow: 2px 2px 2px 0 #696969;
                padding: 20px;

                .name-club {
                    background-color: transparent;
                    color: #3bbf1a;
                    text-decoration: none;
                    margin-top: 20px;
                }

                .member-club {
                    .member {
                        margin: 5px;
                        background-color: #ecf0f1;
                        border-radius: 50%;
                        text-align: center;
                        display: inline-block;
                        width: 37px;
                        height: 37px;
                        line-height: 35px;

                        img {
                            border-radius: 50%;
                            width: 37px !important;
                            height: 37px !important;
                        }
                    }
                }
            }
        }
    }
}
