.management-tournament {
  .item-tournament-joined {
    padding: 10px;
    color: #fff;
    background: #135f00;
    font-weight: bold;
  }

  .item-tournament-registered {
    padding: 10px;
    color: #fff;
    background: #3bbf1a;
    font-weight: bold;
    margin-top: 20px;
  }

  .item-tournament-join {
    padding: 10px;
    color: #fff;
    background: #6da75f;
    font-weight: bold;
    margin-top: 20px;
  }

  .detail-tournaments-joined, .detail-tournaments-join, .detail-tournaments-registered {
    display: none;
  }

    .tournament-registered {
      margin-top: 20px;
      min-height: 200px;
      width: 100%;
      box-shadow: 0 1px 10px #d8d8d8;
      background-color: #fff;
      overflow: hidden;
      border-radius: 4px;
      padding: 0;

      .info-tournament {
        padding: 10px;

        .name-club {
          color: #3bbf1a;
          font-weight: bold;
        }
      }

    }
}