@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        zoom: 1;
    }
}

@mixin boxshadow() {
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);
}

@mixin hiddentext() {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin transition($per, $s) {
    -webkit-transition: $per $s;
    -moz-transition: $per $s;
    -ms-transition: $per $s;
    -o-transition: $per $s;
    transition: $per $s;
}

@mixin scale($s) {
    -webkit-transform: scale($s);
    -moz-transform: scale($s);
    -ms-transform: scale($s);
    transform: scale($s);
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transform-origin) {
    -webkit-transform-origin: $transform-origin;
    -moz-transform-origin: $transform-origin;
    -ms-transform-origin: $transform-origin;
    -o-transform-origin: $transform-origin;
    transform-origin: $transform-origin;
}

@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

.lh0 {
    line-height: 0;
    vertical-align: bottom !important;
}

.lh100 {
    line-height: 100% !important;
}

.lh110 {
    line-height: 110% !important;
}

.lh120 {
    line-height: 120% !important;
}

.lh130 {
    line-height: 130% !important;
}

.lh140 {
    line-height: 140% !important;
}

.lh150 {
    line-height: 150% !important;
}

.lh170 {
    line-height: 170% !important;
}

.m0 {
    margin: 0 !important;
}

.m10 {
    margin: 10px !important;
}

.m20 {
    margin: 20px !important;
}

.m30 {
    margin: 30px !important;
}

.m40 {
    margin: 40px !important;
}

.m50 {
    margin: 50px !important;
}

.m60 {
    margin: 60px !important;
}

.m70 {
    margin: 70px !important;
}

.m80 {
    margin: 80px !important;
}

.m90 {
    margin: 90px !important;
}

.m100 {
    margin: 100px !important;
}

.m10l {
    margin-left: 10px !important;
}

.m20l {
    margin-left: 20px !important;
}

.m30l {
    margin-left: 30px !important;
}

.m40l {
    margin-left: 40px !important;
}

.m50l {
    margin-left: 50px !important;
}

.m60l {
    margin-left: 60px !important;
}

.m70l {
    margin-left: 70px !important;
}

.m80l {
    margin-left: 80px !important;
}

.m90l {
    margin-left: 90px !important;
}

.m100l {
    margin-left: 100px !important;
}

.m10t {
    margin-top: 10px !important;
}

.m20t {
    margin-top: 20px !important;
}

.m30t {
    margin-top: 30px !important;
}

.m40t {
    margin-top: 40px !important;
}

.m50t {
    margin-top: 50px !important;
}

.m60t {
    margin-top: 60px !important;
}

.m70t {
    margin-top: 70px !important;
}

.m80t {
    margin-top: 80px !important;
}

.m90t {
    margin-top: 90px !important;
}

.m100t {
    margin-top: 100px !important;
}

.m10r {
    margin-right: 10px !important;
}

.m20r {
    margin-right: 20px !important;
}

.m30r {
    margin-right: 30px !important;
}

.m40r {
    margin-right: 40px !important;
}

.m50r {
    margin-right: 50px !important;
}

.m60r {
    margin-right: 60px !important;
}

.m70r {
    margin-right: 70px !important;
}

.m80r {
    margin-right: 80px !important;
}

.m90r {
    margin-right: 90px !important;
}

.m100r {
    margin-right: 100px !important;
}

.m0b {
    margin-bottom: 0 !important;
}

.m10b {
    margin-bottom: 10px !important;
}

.m15b {
    margin-bottom: 15px !important;
}

.m20b {
    margin-bottom: 20px !important;
}

.m30b {
    margin-bottom: 30px !important;
}

.m40b {
    margin-bottom: 40px !important;
}

.m50b {
    margin-bottom: 50px !important;
}

.m60b {
    margin-bottom: 60px !important;
}

.m70b {
    margin-bottom: 70px !important;
}

.m80b {
    margin-bottom: 80px !important;
}

.m90b {
    margin-bottom: 90px !important;
}

.m100b {
    margin-bottom: 100px !important;
}

.p0 {
    padding: 0 !important;
}

.p10 {
    padding: 10px !important;
}

.p20 {
    padding: 20px !important;
}

.p30 {
    padding: 30px !important;
}

.p40 {
    padding: 40px !important;
}

.p50 {
    padding: 50px !important;
}

.p60 {
    padding: 60px !important;
}

.p70 {
    padding: 70px !important;
}

.p80 {
    padding: 80px !important;
}

.p90 {
    padding: 90px !important;
}

.p100 {
    padding: 100px !important;
}

.p10l {
    padding-left: 10px !important;
}

.p20l {
    padding-left: 20px !important;
}

.p30l {
    padding-left: 30px !important;
}

.p40l {
    padding-left: 40px !important;
}

.p50l {
    padding-left: 50px !important;
}

.p60l {
    padding-left: 60px !important;
}

.p70l {
    padding-left: 70px !important;
}

.p80l {
    padding-left: 80px !important;
}

.p90l {
    padding-left: 90px !important;
}

.p100l {
    padding-left: 100px !important;
}

.p10t {
    padding-top: 10px !important;
}

.p20t {
    padding-top: 20px !important;
}

.p30t {
    padding-top: 30px !important;
}

.p40t {
    padding-top: 40px !important;
}

.p50t {
    padding-top: 50px !important;
}

.p60t {
    padding-top: 60px !important;
}

.p70t {
    padding-top: 70px !important;
}

.p80t {
    padding-top: 80px !important;
}

.p90t {
    padding-top: 90px !important;
}

.p100t {
    padding-top: 100px !important;
}

.p10r {
    padding-right: 10px !important;
}

.p20r {
    padding-right: 20px !important;
}

.p30r {
    padding-right: 30px !important;
}

.p40r {
    padding-right: 40px !important;
}

.p50r {
    padding-right: 50px !important;
}

.p60r {
    padding-right: 60px !important;
}

.p70r {
    padding-right: 70px !important;
}

.p80r {
    padding-right: 80px !important;
}

.p90r {
    padding-right: 90px !important;
}

.p100r {
    padding: 100px !important;
}

.p0b {
    padding-bottom: 0 !important;
}

.p10b {
    padding-bottom: 10px !important;
}

.p20b {
    padding-bottom: 20px !important;
}

.p30b {
    padding-bottom: 30px !important;
}

.p40b {
    padding-bottom: 40px !important;
}

.p50b {
    padding-bottom: 50px !important;
}

.p60b {
    padding-bottom: 60px !important;
}

.p70b {
    padding-bottom: 70px !important;
}

.p80b {
    padding-bottom: 80px !important;
}

.p90b {
    padding-bottom: 90px !important;
}

.p100b {
    padding-bottom: 100px !important;
}

.w10 {
    width: 10px !important;
}

.w20 {
    width: 20px !important;
}

.w30 {
    width: 30px !important;
}

.w40 {
    width: 40px !important;
}

.w50 {
    width: 50px !important;
}

.w60 {
    width: 60px !important;
}

.w70 {
    width: 70px !important;
}

.w80 {
    width: 80px !important;
}

.w90 {
    width: 90px !important;
}

.w100 {
    width: 100px !important;
}

.h10 {
    height: 10px !important;
}

.h20 {
    height: 20px !important;
}

.h30 {
    height: 30px !important;
}

.h40 {
    height: 40px !important;
}

.h50 {
    height: 50px !important;
}

.h60 {
    height: 60px !important;
}

.h70 {
    height: 70px !important;
}

.h80 {
    height: 80px !important;
}

.h90 {
    height: 90px !important;
}

.h100 {
    height: 100px !important;
}

.fl {
    float: left !important;
}

.fn {
    float: none !important;
}

.fr {
    float: right !important;
}

.cb {
    clear: both !important;
}

.b0b {
    border-bottom: none !important;
}

.b0l {
    border-left: none !important;
}

.b0r {
    border-right: none !important;
}

.b0t {
    border-top: none !important;
}

.not-radius {
    border-radius: 0 !important;
}

.w-3 {
    width: 3% !important;
}

.w-7 {
    width: 7% !important;
}

.w-8 {
    width: 8% !important;
}

.w-9 {
    width: 9% !important;
}

.w-10 {
    width: 10% !important;
}

.w-12 {
    width: 12% !important;
}

.w-13 {
    width: 13% !important;
}

.w-15 {
    width: 15% !important;
}

.w-17 {
    width: 17% !important;
}

.w-20 {
    width: 20% !important;
}

.w-22 {
    width: 22% !important;
}

.w-25 {
    width: 25% !important;
}

.w-32 {
    width: 32% !important;
}

.w-35 {
    width: 35% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-50 {
    width: 50% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-80 {
    width: 80% !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.color-white {
    color: #fff !important;
}

