body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #6c6c6c
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
    margin: 0;
    padding: 0em 0em 0em 0em;
    overflow: hidden;
    list-style: none;
    color: #6c6c6c
}

ul.style1 li {
    overflow: hidden;
    display: block;
    padding: 2.80em 0em;
    border-top: 1px solid #D1CFCE;
}

ul.style1 li:first-child {
    padding-top: 0;
    border-top: none;
}

ul.style1 .image-left {
    margin-bottom: 0;
}

ul.style1 h3 {
    padding: 1.2em 0em 1em 0em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: #454445;
}

ul.style1 a {
    text-decoration: none;
    color: #525252;
}

ul.style1 a:hover {
    text-decoration: underline;
    color: #525252;
}

ul.style2 {
    margin: 0;
    padding-top: 1em;
    list-style: none;
}

ul.style2 li {
    border-top: solid 1px #E5E5E5;
    padding: 0.80em 0 0.80em 0;
    //font-family: 0.80em;
}

ul.style2 li:before {
    display: inline-block;
    padding: 4px;
    background: #DB3256;
}

ul.style2 a {
    display: inline-block;
    margin-left: 1em;
}

ul.style2 li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.style2 .icon {
    color: #FFF;
}

ul.style3 {
    margin: 0;
    padding-top: 1em;
    list-style: none;
}

ul.style3 li {
    border-top: solid 1px rgba(255, 255, 255, .2);
    padding: 1em 0 1em 0;
    //font-family: 0.80em;
}

ul.style3 li:before {
    display: inline-block;
    padding: 4px;
    background: #FFF;
}

ul.style3 a {
    display: inline-block;
    margin-left: 1em;
    font-size: 1em !important;
    color: #FFF;
}

ul.style3 li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.style3 .icon {
    color: #DB3256;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #FFF;
}

ul.contact li a:before {
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a.icon-twitter:before {
    background: #2DAAE4;
}

ul.contact li a.icon-facebook:before {
    background: #39599F;
}

ul.contact li a.icon-dribbble:before {
    background: #C4376B;
}

ul.contact li a.icon-tumblr:before {
    background: #31516A;
}

ul.contact li a.icon-rss:before {
    background: #F2600B;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    //position: fixed;
    height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    position: absolute;
    top: 2em;
    width: 100%;
}

#logo h1 {
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #ED7070;
    padding-right: 0.50em;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

#logo span {
    display: inline-block;
    padding-right: .50em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 0.90em;
}

#logo a {
    text-decoration: none;
    color: #FFF;
}

#logo .fa {
    color: #8dc63f;
}

#logo {
    .fa:after {
        position: absolute;
        display: inline-block;
        padding-right: 2em;
    }
}

///*********************************************************************************/
///* Menu                                                                          */
///*********************************************************************************/
//
//#menu {
//    position: absolute;
//    right: 0;
//    top: 1.6em;
//}
//
//#menu ul {
//    display: inline-block;
//}
//
//#menu li {
//    display: block;
//    float: left;
//    text-align: center;
//}
//
//#menu li a, #menu li span {
//    display: inline-block;
//    margin-left: 1px;
//    padding: 1em 1.5em 0em 1.5em;
//    letter-spacing: 0.10em;
//    text-decoration: none;
//    font-size: 1em;
//    text-transform: uppercase;
//    outline: 0;
//    color: #FFF;
//}
//
//#menu li:hover a, #menu li.active a, #menu li.active span {
//}
//
//#menu .current_page_item a {
//    color: #8dc63f;
//}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/


#header-featured {
    padding: 10em 0;
    //background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
}

#banner {
    overflow: hidden;
    width: 1000px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 1.5em;

    h2 {
        padding-bottom: 0.50em;
        font-weight: 400;
        font-size: 2em;
        color: #FFF;
    }

    p {
        font-size: 20px;
    }
}

#wrapper {
    background-color: #f8f8f8
}

#page {
    overflow: hidden;
    padding: 6em 0;
    border-bottom: 2px solid #E3E3E3;
    text-align: center;
}

#page .button {
    margin-top: 2em;
}


#content {
    padding: 0 7em;
}

#stwo-col {
    margin-top: 2em;
}

#stwo-col h2 {
    display: block;
    padding-bottom: 1.5em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: #454445;
}

#stwo-col .sbox1 {
    float: left;
    width: 210px;
}

#stwo-col .sbox2 {
    float: right;
    width: 210px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 3rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background-color: #3bbf1a;
    color: #fff;

    span {
        letter-spacing: 0.20em;
        text-align: center;
        font-size: 0.80em;
    }
}

#featured-wrapper {
    overflow: hidden;
    padding: 10em 0;
    text-align: center;
}

#featured {
    overflow: hidden;
}

#featured .main-title {
    margin-bottom: 4em;
}

#featured .main-title h2 {
    font-size: 4em;
}

#featured .main-title .byline {
    font-size: 2em;
}

#featured-wrapper .fa {
    display: inline-block;
    margin-bottom: 1em;
    width: 3em;
    height: 3em;
    line-height: 3em;
    font-size: 4em;
    color: #8dc63f;
    border: 1px solid #86bd3b;
    border-radius: 50%;
}

.column1, .column2, .column3, .column4 {
    width: 282px;
}

.column1, .column2 {
    float: left;
    margin-right: 24px;
}

.column3 {
    float: left;
}

.column4 {
    float: right;
}

#slider-wrapper {
    padding: 6em 0;
    background: #DB3256;
}

#slider {
    margin: 0 auto 0 auto;
    width: 1200px;
    position: relative;
}

#slider .button {
}

#slider .button:hover {
}

#slider .viewer {
    width: 1000px;
    height: 375px;
    margin: 0 auto;
    overflow: hidden;
}

#slider .viewer .reel {
    display: none;
    height: 375px;
}

#slider .viewer .reel .slide {
    position: relative;
    width: 1000px;
    height: 375px;
}

#slider .viewer .reel h2 {
    position: absolute;
    top: 130px;
    left: 0;
    width: 1200px;
    height: 80px;
    line-height: 80px;
    background: #111111;
    text-align: center;
    opacity: 0.85;
    font-weight: normal;
    color: #ffffff;
    font-size: 2.25em;
}

#slider .viewer .reel p {
    position: absolute;
    top: 210px;
    left: 0;
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background: #0074C6;
    text-align: center;
    opacity: 0.85;
    font-weight: normal;
    color: #ffffff;
    font-size: 1.1em;
}

#slider .icon {
    font-size: 4em;
    color: #FFF;
}

#slider .previous-button {
    position: absolute;
    top: 150px;
    left: 0;
}

#slider .next-button {
    position: absolute;
    top: 150px;
    right: 0;
}

#slider .indicator {
    margin: 30px auto 0 auto;
}

#slider .indicator ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#slider .indicator ul li {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -9999em;
    background: #c8c8c8;
    margin: 0 2px 0 2px;
    border-radius: 8px;
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #909090;
}

#slider .indicator ul li.active {
    background: #505050;
    border-top: solid 1px #505050;
}

#footer-wrapper {
    overflow: hidden;
    padding: 7em 0;
    color: rgba(255, 255, 255, 0.5);
}


#footer .title h2 {
    font-size: 2em;
    font-weight: 300;
    color: #FFF;
}

#footer .title .byline {
    display: block;
    padding-top: 1em;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(255, 255, 255, 0.5);
}

#footer .column1,
#footer .column2 {
    width: 560px;
}

#footer .column1 {
    float: left;
}

#footer .column2 {
    float: right;
}

#footer .button {
    margin-top: 2em;
}

#extra {
    overflow: hidden;
    margin: 5em auto 2em auto;
    padding: 2em 0 2em 0;
    background: #ECECEC;
}

#extra h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 2.4em;
    color: #555555;
}

#extra span {
    display: block;
    padding-top: 0.20em;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #A2A2A2;
}


.extra2 {
}


.margin-btm {
    overflow: hidden;
    margin-bottom: 5em;
    padding-bottom: 5em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.extra2 .button {
    margin-top: 2em;
}

.extra2 .title h2 {
    font-size: 2em;
}

.extra2 .title .byline {
    font-size: 0.80em;
}

#banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-index {
    background-size: cover;

    .header-wrapper {

    }

}

.group-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.distribution {
    background-size: cover !important;

    .image-distribution {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            padding: 15px;
            border-radius: 50px;
        }
    }

    .intro {
        padding: 15px;
    }

    .section-intro {
        color: #fff;
        font-weight: bold;
    }

    .section--process__step {
        position: relative;
        padding-left: 80px;
        min-height: 80px;
        margin-bottom: 20px;
    }

    .section--process__icon {
        font-size: 24px;
        background: #3bbf1a;
        color: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        display: inline-block;
        position: absolute;
        left: 0;

        .step-order {
            display: inline-block;
            position: absolute;
            top: -10px;
            left: 18px;
            width: 24px;
            height: 24px;
            background: #676ec1;
            color: #fff;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid #fff;
        }

        .fa {
            color: #fff;
        }
    }

    .section--process__title {
        margin-top: 10px;
        color: #fff;
        font-weight: bold;
    }

    .check-list {
        margin-bottom: 50px;

        .step {
            position: relative;
            padding-left: 15px;
            margin-bottom: 7px;
            color: #fff;
        }

        .step:before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            display: block;
            width: 5px;
            height: 10px;
            border-bottom: 2px solid #79c753;
            border-right: 2px solid #79c753;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .fa-list-ul:before {
        color: #fff;
    }

    .fa-cogs:before {
        color: #fff;
    }

    .fa-check-square:before {
        color: #fff;
    }

}

//header

.header-base {
    .navbar-collapse, .navbar-header {
        margin-right: -15px;
        margin-left: -15px;

    }

    .navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-header {
        font-weight: bold;
        color: #fff;
        font-size: 26px;
    }

    $box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);

    @mixin largescreen {
        @media only screen and(min-width: 768px) {
            @content;
        }
    }

    .brand {
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: bold;
        line-height: inherit;
        color: #fff;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
    }

    // Navbar
    .navbar {
        width: 100%;
        height: auto;
        padding: 1rem 2rem;
        color: $color-black;
        background-color: #3bbf1a;
        border-color: transparent;
        box-shadow: $box-shadow;
        flex-wrap: nowrap !important;
        display: block;

        // Media Query for Desktop
        @include largescreen {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }

        .navbrand {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .burger {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: none;
                outline: none;
                background: none;
                transition: all 0.35s ease;

                &-close {
                    display: none;
                }

                &.active {
                    .burger-open {
                        display: none;
                    }
                    .burger-close {
                        display: flex;
                    }
                }

                // Media Query for Desktop
                @include largescreen {
                    display: none;
                }
            }
        }

        .menu {
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: all 0.5s ease;
            margin-bottom: 0;

            &-item {
                margin: 0.5rem 0;
            }

            &-link {
                font-family: inherit;
                font-size: 1rem;
                font-weight: 500;
                line-height: inherit;
                color: #fff;
                text-rendering: optimizeLegibility;
                transition: all 0.35s ease;

                &:hover {
                    color: #676ec1;
                }
            }

            &.active {
                width: 100%;
                height: 10rem;
                margin: 1rem 0;
            }

            // Media Query for Desktop
            @include largescreen {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: auto;

                &-item {
                    padding: 0;
                    margin: 0 1.5rem;
                }
            }
        }
    }
}
