// Override the Bootstrap defaults without modifying key, versioned files.

// Dimension variables
$fragment_width: 25%;

// Color variables
$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$color-red: #d32f2f;
$color-blue: #148cb8;
