.create-club {
    padding: 100px 0;

    .card-header {
        background-color: #28a745;
        color: #fff;
        font-weight: bold;
        text-align: left;

        .message-require {
            font-size: 14px;
            margin: 0;
            font-style: italic;
            color: #fcc05b;
            font-weight: 300;
        }
    }

    .card-body {
        .frame-register {
            border-bottom: 5px solid #f1f1f1;
            margin-bottom: 20px;

            .logo-club {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #28a745;
                padding: 15px;
            }

            .custom-file-label::after {
                content: "Chọn ảnh";
            }
        }
    }
}
