.search-club {
    padding: 100px 0;

    .input-group-btn {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        font-size: 0;
        white-space: nowrap;

        .btn-primary {
            background-color: #3bbf1a;
            border-color: #3bbf1a;
        }
    }

    .input-group-btn:last-child > .btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        z-index: 2;
        margin-left: -1px;
    }

    .input-group-btn > .btn {
        position: relative;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .result-search-club {
        .club {
            text-align: center;
            border: 1px solid #696969;
            box-shadow: 2px 2px 2px 0 #696969;
            padding: 20px;

            .name-club {
                background-color: transparent;
                color: #3bbf1a;
                text-decoration: none;
                margin-top: 20px;
            }

            .member-club {
                .member {
                    margin: 5px;
                    background-color: #ecf0f1;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    width: 37px;
                    height: 37px;
                    line-height: 35px;

                    img {
                        border-radius: 50%;
                        width: 37px !important;
                        height: 37px !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .btn {
        padding: 5px 15px;
    }
}
